In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Store filepath in a variable
file_one = Path("Resources/Cost_Affordability_healthy_Diet_Data.csv")
file_two = Path("Resources/Obesity_unhealthy_diet.csv")
file_3 = Path("Resources/Raw_WIDER_data.csv")

In [4]:
# Read our data file with the Pandas library
# Not every CSV requires an encoding, but be aware this can come up
coahd_df = pd.read_csv(file_one, encoding="ISO-8859-1")
obesity_df = pd.read_csv(file_two, encoding="ISO-8859-1")
income_df = pd.read_csv(file_3, encoding="ISO-8859-1")

In [5]:
# Show the rows and colomns of each dataframe
income_df # Global income statistics

,id,country,c3,iso,c2,year,iso_yr,Unnamed: 7,rural_pop_pct,gini_reported,...,urban_pop,revision,quality,quality_score,source,source_detailed,source_comments,survey,link,staple_demand
0,1,Afghanistan,AFG,afg,AF,2008,afg2008,Afghanistan2008,76.680,29.00,...,1,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://cso-of-afghanistan.shinyapps.io/ALCS_D...,1.624169
1,2,Afghanistan,AFG,afg,AF,2012,afg2012,Afghanistan2012,75.840,33.00,...,1,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://cso-of-afghanistan.shinyapps.io/ALCS_D...,1.634051
2,3,Afghanistan,AFG,afg,AF,2017,afg2017,Afghanistan2017,74.750,31.00,...,1,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://eeas.europa.eu/regions/asia/44072/resu...,1.591397
3,4,Albania,ALB,alb,AL,1996,alb1996,Albania1996,60.527,27.01,...,1223149,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...,NaN
4,5,Albania,ALB,alb,AL,2002,alb2002,Albania2002,56.499,31.74,...,1359921,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11821,11822,Zimbabwe,ZWE,zwe,ZW,1995,zwe1995,Zimbabwe1995,68.268,70.30,...,3592172,NaN,Low,13,World Bank,"Deininger and Squire, World Bank 2004",World Bank. Compilation,Poverty Income Consumption and Expenditure Sur...,NaN,1.488854
11822,11823,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,42.30,...,1,New 2013,High,11,National statistical authority,Zimbabwe National Statistics Agency 2011,Zimbabwe Poverty Profile Report,Poverty Income Consumption and Expenditure Sur...,NaN,1.459171
11823,11824,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,37.00,...,1,New 2013,High,11,National statistical authority,Zimbabwe National Statistics Agency 2011,Zimbabwe Poverty Profile Report,Poverty Income Consumption and Expenditure Sur...,NaN,1.459171
11824,11825,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,39.00,...,1,New 2013,High,11,National statistical authority,Zimbabwe National Statistics Agency 2011,Zimbabwe Poverty Profile Report,Poverty Income Consumption and Expenditure Sur...,NaN,1.459171
11825,11826,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,43.15,...,4257061,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...,1.459171

In [8]:
income_df.describe()

,id,year,rural_pop_pct,gini_reported,palma,ratio_top20bottom20,bottom40,q1,q2,q3,...,exchangerate,mean_usd,median_usd,gdp_ppp_pc_usd2011,population,pop,rural_pop,urban_pop,quality_score,staple_demand
count,11826.000000,11826.000000,10538.000000,11747.000000,6714.000000,7503.000000,7459.000000,7576.000000,7354.000000,7375.000000,...,6.301000e+03,1879.000000,1804.000000,11603.000000,1.177000e+04,6.724000e+03,1.182600e+04,1.182600e+04,11826.000000,7421.000000
mean,5913.500000,1996.104346,35.228814,38.232630,2.176460,9.679664,17.155084,6.256121,10.882979,15.294922,...,9.743789e+00,6332.691203,5176.506951,19445.363268,7.997677e+07,5.435884e+07,1.305878e+07,1.777205e+07,11.145189,1.157962
std,3414.016476,15.850131,20.499264,10.202797,1.647452,9.273387,4.864324,2.357871,2.610924,2.450347,...,8.647285e+01,6714.026537,5692.910588,15739.264790,2.152915e+08,1.601752e+08,7.484091e+07,5.587793e+07,2.306159,0.288590
min,1.000000,1867.000000,0.000000,12.100000,0.520000,1.890000,1.600000,0.200000,1.300000,4.200000,...,8.100000e-14,32.000000,0.000000,6.000000,1.052100e+04,1.052100e+04,0.000000e+00,1.000000e+00,3.000000,0.097397
25%,2957.250000,1988.000000,20.674750,30.300000,1.150000,4.870000,13.200000,4.300000,8.800000,13.470000,...,3.545008e-02,1941.480000,1513.087500,7236.000000,5.242238e+06,5.194691e+06,1.000000e+00,1.000000e+00,11.000000,0.947517
50%,5913.500000,1999.000000,31.138000,36.480000,1.610000,7.020000,17.590000,6.280000,11.230000,15.920000,...,2.500000e-01,3878.090000,2898.990000,15062.000000,1.526800e+07,1.339701e+07,7.258550e+04,1.735928e+06,12.000000,1.116187
75%,8869.750000,2009.000000,46.582500,46.000000,2.810000,12.130000,20.990000,8.100000,12.970000,17.280000,...,1.000000e+00,7696.585000,6236.045000,29187.000000,5.663743e+07,4.609647e+07,4.080258e+06,1.142033e+07,13.000000,1.341742
max,11826.000000,2018.000000,94.943000,78.600000,39.810000,293.000000,31.160000,14.600000,17.180000,21.100000,...,1.756961e+03,56140.000000,41967.000000,122637.000000,1.421022e+09,1.406848e+09,8.656920e+08,7.808006e+08,13.000000,2.447785

In [6]:
cols = income_df.columns
cols

Index(['id', 'country', 'c3', 'iso', 'c2', 'year', 'iso_yr', 'Unnamed: 7',
       'rural_pop_pct', 'gini_reported', 'palma', 'ratio_top20bottom20',
       'bottom40', 'q1', 'q2', 'q3', 'q4', 'q5', 'd1', 'd2', 'd3', 'd4', 'd5',
       'd6', 'd7', 'd8', 'd9', 'd10', 'bottom5', 'top5', 'resource',
       'resource_detailed', 'scale', 'scale_detailed', 'sharing_unit',
       'reference_unit', 'areacovr', 'areacovr_detailed', 'popcovr',
       'popcovr_detailed', 'region_un', 'region_un_sub', 'region_wb', 'eu',
       'oecd', 'incomegroup', 'mean', 'median', 'currency', 'reference_period',
       'exchangerate', 'mean_usd', 'median_usd', 'gdp_ppp_pc_usd2011',
       'population', 'pop', 'rural_pop', 'urban_pop', 'revision', 'quality',
       'quality_score', 'source', 'source_detailed', 'source_comments',
       'survey', 'link', 'staple_demand'],
      dtype='object')

In [11]:
global_income_df = income_df[['id', 'country', 'year', 
       'rural_pop_pct', 'gini_reported', 'palma', 'q1', 'q2', 'q3', 'q4', 'q5',   'resource',
       'resource_detailed', 
       'reference_unit', 'areacovr', 'region_un',  
       'oecd', 'incomegroup',  
         'gdp_ppp_pc_usd2011',
       'population', 'rural_pop', 'urban_pop', 
       'staple_demand']]

In [12]:
global_income_df

,id,country,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,...,reference_unit,areacovr,region_un,oecd,incomegroup,gdp_ppp_pc_usd2011,population,rural_pop,urban_pop,staple_demand
0,1,Afghanistan,2008,76.680,29.00,NaN,9.00,13.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1268.0,27722282.0,1.0,1,1.624169
1,2,Afghanistan,2012,75.840,33.00,NaN,9.00,14.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1773.0,31161378.0,1.0,1,1.634051
2,3,Afghanistan,2017,74.750,31.00,NaN,9.00,13.00,16.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1758.0,36296108.0,1.0,1,1.591397
3,4,Albania,1996,60.527,27.01,0.93,9.15,13.70,17.74,23.29,...,Person,All,Europe,Non-OECD,Upper middle income,4635.0,3098699.0,1875549.5,1223149,NaN
4,5,Albania,2002,56.499,31.74,1.22,8.35,12.58,16.49,22.21,...,Person,All,Europe,Non-OECD,Upper middle income,6088.0,3126183.0,1766262.1,1359921,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11821,11822,Zimbabwe,1995,68.268,70.30,12.92,1.58,3.64,6.34,11.08,...,Person,All,Africa,Non-OECD,Low income,2758.0,11320346.0,7728173.8,3592172,1.488854
11822,11823,Zimbabwe,2011,66.985,42.30,NaN,NaN,NaN,NaN,NaN,...,Person,All,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11823,11824,Zimbabwe,2011,66.985,37.00,NaN,NaN,NaN,NaN,NaN,...,Person,Rural,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11824,11825,Zimbabwe,2011,66.985,39.00,NaN,NaN,NaN,NaN,NaN,...,Person,Urban,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11825,11826,Zimbabwe,2011,66.985,43.15,2.21,5.82,9.50,14.00,21.01,...,Person,All,Africa,Non-OECD,Lower middle income,2168.0,12894323.0,8637262.3,4257061,1.459171

In [13]:
# Describe the dataframe for # Global income statistics

global_income_df.describe()

,id,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,q5,gdp_ppp_pc_usd2011,population,rural_pop,urban_pop,staple_demand
count,11826.000000,11826.000000,10538.000000,11747.000000,6714.000000,7576.000000,7354.000000,7375.000000,7381.000000,7577.000000,11603.000000,1.177000e+04,1.182600e+04,1.182600e+04,7421.000000
mean,5913.500000,1996.104346,35.228814,38.232630,2.176460,6.256121,10.882979,15.294922,21.712025,45.844474,19445.363268,7.997677e+07,1.305878e+07,1.777205e+07,1.157962
std,3414.016476,15.850131,20.499264,10.202797,1.647452,2.357871,2.610924,2.450347,1.850854,8.534170,15739.264790,2.152915e+08,7.484091e+07,5.587793e+07,0.288590
min,1.000000,1867.000000,0.000000,12.100000,0.520000,0.200000,1.300000,4.200000,10.600000,25.500000,6.000000,1.052100e+04,0.000000e+00,1.000000e+00,0.097397
25%,2957.250000,1988.000000,20.674750,30.300000,1.150000,4.300000,8.800000,13.470000,20.740000,39.100000,7236.000000,5.242238e+06,1.000000e+00,1.000000e+00,0.947517
50%,5913.500000,1999.000000,31.138000,36.480000,1.610000,6.280000,11.230000,15.920000,22.150000,43.900000,15062.000000,1.526800e+07,7.258550e+04,1.735928e+06,1.116187
75%,8869.750000,2009.000000,46.582500,46.000000,2.810000,8.100000,12.970000,17.280000,22.850000,52.300000,29187.000000,5.663743e+07,4.080258e+06,1.142033e+07,1.341742
max,11826.000000,2018.000000,94.943000,78.600000,39.810000,14.600000,17.180000,21.100000,31.800000,81.400000,122637.000000,1.421022e+09,8.656920e+08,7.808006e+08,2.447785

In [14]:
# Show the rows and colomns of each dataframes
coahd_df # Cost and Affordability of a Healthy Diet (CoAHD)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Unit,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F,Y2022,Y2022F
0,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,3.04,E,3.13,E,3.32,E,3.4,E,3.55,E,4.19,E
1,3,'008,Albania,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.6,E,NaN,NaN,NaN,NaN,NaN,NaN,0.48,E,NaN,NaN
2,3,'008,Albania,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,1.2,E,NaN,NaN,NaN,NaN,NaN,NaN,1.15,E,NaN,NaN
3,3,'008,Albania,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.44,E,NaN,NaN,NaN,NaN,NaN,NaN,0.42,E,NaN,NaN
4,3,'008,Albania,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.71,E,NaN,NaN,NaN,NaN,NaN,NaN,0.61,E,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,9011,'906,Upper-middle-income economies,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.8,E,NaN,NaN,NaN,NaN,NaN,NaN,0.85,E,NaN,NaN
1832,9011,'906,Upper-middle-income economies,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.71,E,NaN,NaN,NaN,NaN,NaN,NaN,0.7,E,NaN,NaN
1833,9011,'906,Upper-middle-income economies,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.13,E,NaN,NaN,NaN,NaN,NaN,NaN,0.17,E,NaN,NaN
1834,9011,'906,Upper-middle-income economies,7005,Percentage of the population unable to afford ...,6121,Value,%,28.2,E,25.7,E,24.2,E,24.8,E,22.2,E,21.5,E
1835,9011,'906,Upper-middle-income economies,7006,Number of people unable to afford a healthy di...,6132,Value,million No,769.7,E,707.7,E,668.9,E,690.5,E,620.1,E,601.2,E

In [15]:
coahd_df.describe()

         Area Code    Item Code  Element Code
count  1836.000000  1836.000000   1836.000000
mean   1066.416667  7008.000000   6203.888889
std    2090.524929     2.582692     41.458566
min       1.000000  7004.000000   6121.000000
25%      78.000000  7006.000000   6226.000000
50%     152.000000  7008.000000   6226.000000
75%     233.250000  7010.000000   6226.000000
max    9011.000000  7012.000000   6226.000000

In [18]:
cols = coahd_df.columns
cols

Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'Y2017', 'Y2017F', 'Y2018', 'Y2018F',
       'Y2019', 'Y2019F', 'Y2020', 'Y2020F', 'Y2021', 'Y2021F', 'Y2022',
       'Y2022F'],
      dtype='object')

In [41]:
new_coahd_df =coahd_df[['Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'Y2017',  'Y2018', 
       'Y2019',  'Y2020',  'Y2021',  'Y2022',
       ]]
new_coahd_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,3,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,3.04,3.13,3.32,3.4,3.55,4.19
1,3,Albania,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.6,NaN,NaN,NaN,0.48,NaN
2,3,Albania,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,1.2,NaN,NaN,NaN,1.15,NaN
3,3,Albania,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.44,NaN,NaN,NaN,0.42,NaN
4,3,Albania,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.71,NaN,NaN,NaN,0.61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,9011,Upper-middle-income economies,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.8,NaN,NaN,NaN,0.85,NaN
1832,9011,Upper-middle-income economies,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.71,NaN,NaN,NaN,0.7,NaN
1833,9011,Upper-middle-income economies,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.13,NaN,NaN,NaN,0.17,NaN
1834,9011,Upper-middle-income economies,7005,Percentage of the population unable to afford ...,6121,Value,%,28.2,25.7,24.2,24.8,22.2,21.5
1835,9011,Upper-middle-income economies,7006,Number of people unable to afford a healthy di...,6132,Value,million No,769.7,707.7,668.9,690.5,620.1,601.2

In [47]:
# Show the rows and colomns of each dataframes
obesity_df # Obesity_Unhealthy diet

,ï»¿Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Numeric,Lower Confidence Limit,Upper Confidence Limit,Comment
0,"Overweight, adults aged 18+",NaN,2022,NaN,Global,Total,NaN,43.494305,42.871901,44.140121,NaN
1,"Overweight, adults aged 18+",NaN,2022,NaN,Global,Males,NaN,43.058437,42.092445,44.033659,NaN
2,"Overweight, adults aged 18+",NaN,2022,NaN,Global,Females,NaN,43.868381,43.06533,44.706288,NaN
3,"Overweight, adults aged 18+",NaN,2022,Afghanistan,Eastern Mediterranean Region,Total,NaN,48.573643,44.941038,52.150345,NaN
4,"Overweight, adults aged 18+",NaN,2022,Afghanistan,Eastern Mediterranean Region,Males,NaN,44.066808,38.980424,49.147475,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4342,"Mean population salt intake, adults aged 25+",NaN,2019,Zambia,African Region,Males,NaN,6.308032045,5.77043036,6.900037545,NaN
4343,"Mean population salt intake, adults aged 25+",NaN,2019,Zambia,African Region,Females,NaN,7.617803635,7.047883248,8.186686645,NaN
4344,"Mean population salt intake, adults aged 25+",NaN,2019,Zimbabwe,African Region,Total,NaN,8.302790699,7.827742013,8.804189177,NaN
4345,"Mean population salt intake, adults aged 25+",NaN,2019,Zimbabwe,African Region,Males,NaN,8.439144416,7.724159221,9.228902896,NaN
4346,"Mean population salt intake, adults aged 25+",NaN,2019,Zimbabwe,African Region,Females,NaN,8.187745983,7.573530447,8.786872432,NaN

In [19]:
col = obesity_df.columns
col

Index(['ï»¿Indicator Name', 'Cancer Type', 'Year', 'Country Name', 'Region',
       'Gender', 'Area', 'Numeric', 'Lower Confidence Limit',
       'Upper Confidence Limit', 'Comment'],
      dtype='object')

In [50]:
new_obesity_df = obesity_df[['ï»¿Indicator Name', 'Year', 'Country Name', 'Region',
       'Gender', 'Numeric', 'Lower Confidence Limit',
       'Upper Confidence Limit']]
new_obesity_df

,ï»¿Indicator Name,Year,Country Name,Region,Gender,Numeric,Lower Confidence Limit,Upper Confidence Limit
0,"Overweight, adults aged 18+",2022,NaN,Global,Total,43.494305,42.871901,44.140121
1,"Overweight, adults aged 18+",2022,NaN,Global,Males,43.058437,42.092445,44.033659
2,"Overweight, adults aged 18+",2022,NaN,Global,Females,43.868381,43.06533,44.706288
3,"Overweight, adults aged 18+",2022,Afghanistan,Eastern Mediterranean Region,Total,48.573643,44.941038,52.150345
4,"Overweight, adults aged 18+",2022,Afghanistan,Eastern Mediterranean Region,Males,44.066808,38.980424,49.147475
...,...,...,...,...,...,...,...,...
4342,"Mean population salt intake, adults aged 25+",2019,Zambia,African Region,Males,6.308032045,5.77043036,6.900037545
4343,"Mean population salt intake, adults aged 25+",2019,Zambia,African Region,Females,7.617803635,7.047883248,8.186686645
4344,"Mean population salt intake, adults aged 25+",2019,Zimbabwe,African Region,Total,8.302790699,7.827742013,8.804189177
4345,"Mean population salt intake, adults aged 25+",2019,Zimbabwe,African Region,Males,8.439144416,7.724159221,9.228902896
4346,"Mean population salt intake, adults aged 25+",2019,Zimbabwe,African Region,Females,8.187745983,7.573530447,8.786872432

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
#file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)