# Import the libraries

In [39]:
# Dependencies
import pandas as pd
from pathlib import Path

# Define paths and read files

In [40]:
# Store filepath in a variable
file_one = Path("Resources/Cost_Affordability_healthy_Diet_Data.csv")
file_two = Path("Resources/Obesity_unhealthy_diet.csv")
file_3 = Path("Resources/Raw_WIDER_data.csv")

In [41]:
# Read our data file with the Pandas library
# Not every CSV requires an encoding, but be aware this can come up
coahd_df = pd.read_csv(file_one, encoding="ISO-8859-1")
obesity_df = pd.read_csv(file_two, encoding="ISO-8859-1")
income_df = pd.read_csv(file_3, encoding="ISO-8859-1")

# Cleaning Global income statistics data

In [42]:
# Show the rows and colomns of each dataframe
income_df # Global income statistics

,id,country,c3,iso,c2,year,iso_yr,Unnamed: 7,rural_pop_pct,gini_reported,...,urban_pop,revision,quality,quality_score,source,source_detailed,source_comments,survey,link,staple_demand
0,1,Afghanistan,AFG,afg,AF,2008,afg2008,Afghanistan2008,76.680,29.00,...,1,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://cso-of-afghanistan.shinyapps.io/ALCS_D...,1.624169
1,2,Afghanistan,AFG,afg,AF,2012,afg2012,Afghanistan2012,75.840,33.00,...,1,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://cso-of-afghanistan.shinyapps.io/ALCS_D...,1.634051
2,3,Afghanistan,AFG,afg,AF,2017,afg2017,Afghanistan2017,74.750,31.00,...,1,New 2019,High,12,National statistical authority,European Union and the Central Statistics Orga...,NaN,Living Conditions Survey (LCS),https://eeas.europa.eu/regions/asia/44072/resu...,1.591397
3,4,Albania,ALB,alb,AL,1996,alb1996,Albania1996,60.527,27.01,...,1223149,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...,NaN
4,5,Albania,ALB,alb,AL,2002,alb2002,Albania2002,56.499,31.74,...,1359921,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11821,11822,Zimbabwe,ZWE,zwe,ZW,1995,zwe1995,Zimbabwe1995,68.268,70.30,...,3592172,NaN,Low,13,World Bank,"Deininger and Squire, World Bank 2004",World Bank. Compilation,Poverty Income Consumption and Expenditure Sur...,NaN,1.488854
11822,11823,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,42.30,...,1,New 2013,High,11,National statistical authority,Zimbabwe National Statistics Agency 2011,Zimbabwe Poverty Profile Report,Poverty Income Consumption and Expenditure Sur...,NaN,1.459171
11823,11824,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,37.00,...,1,New 2013,High,11,National statistical authority,Zimbabwe National Statistics Agency 2011,Zimbabwe Poverty Profile Report,Poverty Income Consumption and Expenditure Sur...,NaN,1.459171
11824,11825,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,39.00,...,1,New 2013,High,11,National statistical authority,Zimbabwe National Statistics Agency 2011,Zimbabwe Poverty Profile Report,Poverty Income Consumption and Expenditure Sur...,NaN,1.459171
11825,11826,Zimbabwe,ZWE,zwe,ZW,2011,zwe2011,Zimbabwe2011,66.985,43.15,...,4257061,New 2019,Average,13,World Bank,World Bank 2019,PovcalNet,NaN,http://iresearch.worldbank.org/PovcalNet/povOn...,1.459171

In [43]:
income_df.describe()

,id,year,rural_pop_pct,gini_reported,palma,ratio_top20bottom20,bottom40,q1,q2,q3,...,exchangerate,mean_usd,median_usd,gdp_ppp_pc_usd2011,population,pop,rural_pop,urban_pop,quality_score,staple_demand
count,11826.000000,11826.000000,10538.000000,11747.000000,6714.000000,7503.000000,7459.000000,7576.000000,7354.000000,7375.000000,...,6.301000e+03,1879.000000,1804.000000,11603.000000,1.177000e+04,6.724000e+03,1.182600e+04,1.182600e+04,11826.000000,7421.000000
mean,5913.500000,1996.104346,35.228814,38.232630,2.176460,9.679664,17.155084,6.256121,10.882979,15.294922,...,9.743789e+00,6332.691203,5176.506951,19445.363268,7.997677e+07,5.435884e+07,1.305878e+07,1.777205e+07,11.145189,1.157962
std,3414.016476,15.850131,20.499264,10.202797,1.647452,9.273387,4.864324,2.357871,2.610924,2.450347,...,8.647285e+01,6714.026537,5692.910588,15739.264790,2.152915e+08,1.601752e+08,7.484091e+07,5.587793e+07,2.306159,0.288590
min,1.000000,1867.000000,0.000000,12.100000,0.520000,1.890000,1.600000,0.200000,1.300000,4.200000,...,8.100000e-14,32.000000,0.000000,6.000000,1.052100e+04,1.052100e+04,0.000000e+00,1.000000e+00,3.000000,0.097397
25%,2957.250000,1988.000000,20.674750,30.300000,1.150000,4.870000,13.200000,4.300000,8.800000,13.470000,...,3.545008e-02,1941.480000,1513.087500,7236.000000,5.242238e+06,5.194691e+06,1.000000e+00,1.000000e+00,11.000000,0.947517
50%,5913.500000,1999.000000,31.138000,36.480000,1.610000,7.020000,17.590000,6.280000,11.230000,15.920000,...,2.500000e-01,3878.090000,2898.990000,15062.000000,1.526800e+07,1.339701e+07,7.258550e+04,1.735928e+06,12.000000,1.116187
75%,8869.750000,2009.000000,46.582500,46.000000,2.810000,12.130000,20.990000,8.100000,12.970000,17.280000,...,1.000000e+00,7696.585000,6236.045000,29187.000000,5.663743e+07,4.609647e+07,4.080258e+06,1.142033e+07,13.000000,1.341742
max,11826.000000,2018.000000,94.943000,78.600000,39.810000,293.000000,31.160000,14.600000,17.180000,21.100000,...,1.756961e+03,56140.000000,41967.000000,122637.000000,1.421022e+09,1.406848e+09,8.656920e+08,7.808006e+08,13.000000,2.447785

In [44]:
cols = income_df.columns
cols

Index(['id', 'country', 'c3', 'iso', 'c2', 'year', 'iso_yr', 'Unnamed: 7',
       'rural_pop_pct', 'gini_reported', 'palma', 'ratio_top20bottom20',
       'bottom40', 'q1', 'q2', 'q3', 'q4', 'q5', 'd1', 'd2', 'd3', 'd4', 'd5',
       'd6', 'd7', 'd8', 'd9', 'd10', 'bottom5', 'top5', 'resource',
       'resource_detailed', 'scale', 'scale_detailed', 'sharing_unit',
       'reference_unit', 'areacovr', 'areacovr_detailed', 'popcovr',
       'popcovr_detailed', 'region_un', 'region_un_sub', 'region_wb', 'eu',
       'oecd', 'incomegroup', 'mean', 'median', 'currency', 'reference_period',
       'exchangerate', 'mean_usd', 'median_usd', 'gdp_ppp_pc_usd2011',
       'population', 'pop', 'rural_pop', 'urban_pop', 'revision', 'quality',
       'quality_score', 'source', 'source_detailed', 'source_comments',
       'survey', 'link', 'staple_demand'],
      dtype='object')

In [45]:
# Keep only desired columns ( from 36 to 23)
global_income_df = income_df[['id', 'country', 'year', 
       'rural_pop_pct', 'gini_reported', 'palma', 'q1', 'q2', 'q3', 'q4', 'q5',   'resource',
       'resource_detailed', 
       'reference_unit', 'areacovr', 'region_un',  
       'oecd', 'incomegroup',  
         'gdp_ppp_pc_usd2011',
       'population', 'rural_pop', 'urban_pop', 
       'staple_demand']]

In [46]:
global_income_df

,id,country,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,...,reference_unit,areacovr,region_un,oecd,incomegroup,gdp_ppp_pc_usd2011,population,rural_pop,urban_pop,staple_demand
0,1,Afghanistan,2008,76.680,29.00,NaN,9.00,13.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1268.0,27722282.0,1.0,1,1.624169
1,2,Afghanistan,2012,75.840,33.00,NaN,9.00,14.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1773.0,31161378.0,1.0,1,1.634051
2,3,Afghanistan,2017,74.750,31.00,NaN,9.00,13.00,16.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1758.0,36296108.0,1.0,1,1.591397
3,4,Albania,1996,60.527,27.01,0.93,9.15,13.70,17.74,23.29,...,Person,All,Europe,Non-OECD,Upper middle income,4635.0,3098699.0,1875549.5,1223149,NaN
4,5,Albania,2002,56.499,31.74,1.22,8.35,12.58,16.49,22.21,...,Person,All,Europe,Non-OECD,Upper middle income,6088.0,3126183.0,1766262.1,1359921,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11821,11822,Zimbabwe,1995,68.268,70.30,12.92,1.58,3.64,6.34,11.08,...,Person,All,Africa,Non-OECD,Low income,2758.0,11320346.0,7728173.8,3592172,1.488854
11822,11823,Zimbabwe,2011,66.985,42.30,NaN,NaN,NaN,NaN,NaN,...,Person,All,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11823,11824,Zimbabwe,2011,66.985,37.00,NaN,NaN,NaN,NaN,NaN,...,Person,Rural,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11824,11825,Zimbabwe,2011,66.985,39.00,NaN,NaN,NaN,NaN,NaN,...,Person,Urban,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11825,11826,Zimbabwe,2011,66.985,43.15,2.21,5.82,9.50,14.00,21.01,...,Person,All,Africa,Non-OECD,Lower middle income,2168.0,12894323.0,8637262.3,4257061,1.459171

In [47]:
# Verifying for columns with NaN
columns_with_nan = global_income_df.columns[global_income_df.isna().any()].tolist()
columns_with_nan

['rural_pop_pct',
 'gini_reported',
 'palma',
 'q1',
 'q2',
 'q3',
 'q4',
 'q5',
 'resource',
 'reference_unit',
 'gdp_ppp_pc_usd2011',
 'population',
 'staple_demand']

In [50]:
# Replacing the NaN value with 0 or '' depending on type of columns
global_inc_wo_nan_df = global_income_df.fillna( {"rural_pop_pct" : 0,
                                                'gini_reported': 0,
                                                'palma' : 0 ,
                                                'q1' : 0,
                                                'q2' : 0,
                                                'q3' : 0,
                                                'q4' : 0,
                                                'q5' : 0,
                                                'resource' : '',
                                                'reference_unit' : '',
                                                'pop_gdp' : 0,
                                                'population' : 0,
                                                'staple_demand' : 0   })
global_inc_wo_nan_df

,id,country,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,...,reference_unit,areacovr,region_un,oecd,incomegroup,gdp_ppp_pc_usd2011,population,rural_pop,urban_pop,staple_demand
0,1,Afghanistan,2008,76.680,29.00,0.00,9.00,13.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1268.0,27722282.0,1.0,1,1.624169
1,2,Afghanistan,2012,75.840,33.00,0.00,9.00,14.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1773.0,31161378.0,1.0,1,1.634051
2,3,Afghanistan,2017,74.750,31.00,0.00,9.00,13.00,16.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1758.0,36296108.0,1.0,1,1.591397
3,4,Albania,1996,60.527,27.01,0.93,9.15,13.70,17.74,23.29,...,Person,All,Europe,Non-OECD,Upper middle income,4635.0,3098699.0,1875549.5,1223149,0.000000
4,5,Albania,2002,56.499,31.74,1.22,8.35,12.58,16.49,22.21,...,Person,All,Europe,Non-OECD,Upper middle income,6088.0,3126183.0,1766262.1,1359921,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11821,11822,Zimbabwe,1995,68.268,70.30,12.92,1.58,3.64,6.34,11.08,...,Person,All,Africa,Non-OECD,Low income,2758.0,11320346.0,7728173.8,3592172,1.488854
11822,11823,Zimbabwe,2011,66.985,42.30,0.00,0.00,0.00,0.00,0.00,...,Person,All,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11823,11824,Zimbabwe,2011,66.985,37.00,0.00,0.00,0.00,0.00,0.00,...,Person,Rural,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11824,11825,Zimbabwe,2011,66.985,39.00,0.00,0.00,0.00,0.00,0.00,...,Person,Urban,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11825,11826,Zimbabwe,2011,66.985,43.15,2.21,5.82,9.50,14.00,21.01,...,Person,All,Africa,Non-OECD,Lower middle income,2168.0,12894323.0,8637262.3,4257061,1.459171

In [51]:
global_inc_wo_nan_df.count()

id                    11826
country               11826
year                  11826
rural_pop_pct         11826
gini_reported         11826
palma                 11826
q1                    11826
q2                    11826
q3                    11826
q4                    11826
q5                    11826
resource              11826
resource_detailed     11826
reference_unit        11826
areacovr              11826
region_un             11826
oecd                  11826
incomegroup           11826
gdp_ppp_pc_usd2011    11603
population            11826
rural_pop             11826
urban_pop             11826
staple_demand         11826
dtype: int64

In [52]:
# Describe the dataframe for # Global income statistics

global_inc_wo_nan_df.describe()

,id,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,q5,gdp_ppp_pc_usd2011,population,rural_pop,urban_pop,staple_demand
count,11826.000000,11826.000000,11826.000000,11826.000000,11826.000000,11826.000000,11826.000000,11826.000000,11826.000000,11826.000000,11603.000000,1.182600e+04,1.182600e+04,1.182600e+04,11826.000000
mean,5913.500000,1996.104346,31.391954,37.977229,1.235646,4.007811,6.767582,9.538310,13.551197,29.372872,19445.363268,7.959805e+07,1.305878e+07,1.777205e+07,0.726640
std,3414.016476,15.850131,22.246471,10.634937,1.644200,3.545838,5.665027,7.658798,10.617735,23.033041,15739.264790,2.148513e+08,7.484091e+07,5.587793e+07,0.604733
min,1.000000,1867.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000
25%,2957.250000,1988.000000,16.220000,30.190000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7236.000000,5.201518e+06,1.000000e+00,1.000000e+00,0.000000
50%,5913.500000,1999.000000,27.164000,36.375000,0.960000,4.100000,8.300000,12.900000,20.300000,38.600000,15062.000000,1.508850e+07,7.258550e+04,1.735928e+06,0.904849
75%,8869.750000,2009.000000,44.533000,45.995000,1.820000,7.000000,12.037500,16.600000,22.460000,47.317500,29187.000000,5.654243e+07,4.080258e+06,1.142033e+07,1.190864
max,11826.000000,2018.000000,94.943000,78.600000,39.810000,14.600000,17.180000,21.100000,31.800000,81.400000,122637.000000,1.421022e+09,8.656920e+08,7.808006e+08,2.447785

In [53]:
# Renaming some columns
global_income_cleaned_df= global_inc_wo_nan_df.rename(columns = {'gdp_ppp_pc_usd2011' : "pop_gdp",
                                                      "oecd": "oecd_member",
                                                       "areacovr": "area_covered",
                                                       "population" : "population count"})
global_income_cleaned_df

,id,country,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,...,reference_unit,area_covered,region_un,oecd_member,incomegroup,pop_gdp,population count,rural_pop,urban_pop,staple_demand
0,1,Afghanistan,2008,76.680,29.00,0.00,9.00,13.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1268.0,27722282.0,1.0,1,1.624169
1,2,Afghanistan,2012,75.840,33.00,0.00,9.00,14.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1773.0,31161378.0,1.0,1,1.634051
2,3,Afghanistan,2017,74.750,31.00,0.00,9.00,13.00,16.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1758.0,36296108.0,1.0,1,1.591397
3,4,Albania,1996,60.527,27.01,0.93,9.15,13.70,17.74,23.29,...,Person,All,Europe,Non-OECD,Upper middle income,4635.0,3098699.0,1875549.5,1223149,0.000000
4,5,Albania,2002,56.499,31.74,1.22,8.35,12.58,16.49,22.21,...,Person,All,Europe,Non-OECD,Upper middle income,6088.0,3126183.0,1766262.1,1359921,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11821,11822,Zimbabwe,1995,68.268,70.30,12.92,1.58,3.64,6.34,11.08,...,Person,All,Africa,Non-OECD,Low income,2758.0,11320346.0,7728173.8,3592172,1.488854
11822,11823,Zimbabwe,2011,66.985,42.30,0.00,0.00,0.00,0.00,0.00,...,Person,All,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11823,11824,Zimbabwe,2011,66.985,37.00,0.00,0.00,0.00,0.00,0.00,...,Person,Rural,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11824,11825,Zimbabwe,2011,66.985,39.00,0.00,0.00,0.00,0.00,0.00,...,Person,Urban,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11825,11826,Zimbabwe,2011,66.985,43.15,2.21,5.82,9.50,14.00,21.01,...,Person,All,Africa,Non-OECD,Lower middle income,2168.0,12894323.0,8637262.3,4257061,1.459171

In [54]:
global_income_cleaned_df.dtypes

id                     int64
country               object
year                   int64
rural_pop_pct        float64
gini_reported        float64
palma                float64
q1                   float64
q2                   float64
q3                   float64
q4                   float64
q5                   float64
resource              object
resource_detailed     object
reference_unit        object
area_covered          object
region_un             object
oecd_member           object
incomegroup           object
pop_gdp              float64
population count     float64
rural_pop            float64
urban_pop              int64
staple_demand        float64
dtype: object

In [57]:
global_income_cleaned_df['country'].count()

11826

In [59]:
global_income_cleaned_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Democratic Republic of the', 'Congo, Republic of the',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Czechoslovakia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Republic of', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia, Federated States of',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Soviet Union', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Yugoslavia', 'Zambia',
       'Zimbabwe'], dtype=object)

In [60]:
global_income_cleaned_df['country'].nunique()

200

In [61]:
global_income_cleaned_df['year']

0        2008
1        2012
2        2017
3        1996
4        2002
         ...
11821    1995
11822    2011
11823    2011
11824    2011
11825    2011
Name: year, Length: 11826, dtype: int64

In [62]:
global_income_cleaned_df['year'].unique()

array([2008, 2012, 2017, 1996, 2002, 2005, 1988, 1995, 2001, 2003, 2016,
       2009, 1953, 1959, 1961, 1963, 1965, 1969, 1970, 1972, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1985, 1986, 1987,
       1989, 1990, 1991, 1992, 1993, 1994, 1997, 1998, 1999, 2000, 2004,
       2006, 2007, 2010, 2011, 2013, 2014, 2015, 2018, 1942, 1943, 1944,
       1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1954, 1955, 1956,
       1957, 1958, 1960, 1962, 1964, 1966, 1967, 1968, 1971, 1973, 1984,
       1939, 1936, 1890, 1900, 1910, 1920, 1930, 1940, 1914, 1921, 1927,
       1938, 1935, 1867], dtype=int64)

In [66]:
global_income_cleaned_new_df = global_income_cleaned_df.loc[global_income_cleaned_df['year'] >= 2010, : ]
global_income_cleaned_new_df

,id,country,year,rural_pop_pct,gini_reported,palma,q1,q2,q3,q4,...,reference_unit,area_covered,region_un,oecd_member,incomegroup,pop_gdp,population count,rural_pop,urban_pop,staple_demand
1,2,Afghanistan,2012,75.840,33.00,0.00,9.00,14.00,17.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1773.0,31161378.0,1.0,1,1.634051
2,3,Afghanistan,2017,74.750,31.00,0.00,9.00,13.00,16.00,22.00,...,Person,All,Asia,Non-OECD,Low income,1758.0,36296108.0,1.0,1,1.591397
7,8,Albania,2012,45.670,28.96,1.04,8.85,13.17,17.34,22.81,...,Person,All,Europe,Non-OECD,Upper middle income,10321.0,2914091.0,1330865.4,1583226,0.000000
10,11,Algeria,2012,31.085,27.62,0.99,9.36,13.66,17.47,22.29,...,Person,All,Africa,Non-OECD,Upper middle income,13226.0,37383900.0,11620785.3,25763115,0.000000
14,15,Andorra,2016,11.752,27.96,1.00,9.70,13.40,16.80,22.30,...,Person,All,Europe,Non-OECD,High income,NaN,77295.0,9083.7,68211,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11814,11815,Zambia,2015,58.093,57.14,5.00,2.88,6.00,10.57,19.28,...,Person,All,Africa,Non-OECD,Lower middle income,3678.0,15879370.0,9224802.4,6654568,1.492310
11822,11823,Zimbabwe,2011,66.985,42.30,0.00,0.00,0.00,0.00,0.00,...,Person,All,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11823,11824,Zimbabwe,2011,66.985,37.00,0.00,0.00,0.00,0.00,0.00,...,Person,Rural,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11824,11825,Zimbabwe,2011,66.985,39.00,0.00,0.00,0.00,0.00,0.00,...,Person,Urban,Africa,Non-OECD,Low income,1943.0,14386649.0,1.0,1,1.459171
11825,11826,Zimbabwe,2011,66.985,43.15,2.21,5.82,9.50,14.00,21.01,...,Person,All,Africa,Non-OECD,Lower middle income,2168.0,12894323.0,8637262.3,4257061,1.459171

# Cleaning Cost and Affordability of a Healthy Diet (CoAHD) data

In [67]:
# Show the rows and colomns of each dataframes
coahd_df # Cost and Affordability of a Healthy Diet (CoAHD)
coahd_df.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Unit,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F,Y2022,Y2022F
0,3,'008,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,3.04,E,3.13,E,3.32,E,3.4,E,3.55,E,4.19,E
1,3,'008,Albania,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.6,E,NaN,NaN,NaN,NaN,NaN,NaN,0.48,E,NaN,NaN
2,3,'008,Albania,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,1.2,E,NaN,NaN,NaN,NaN,NaN,NaN,1.15,E,NaN,NaN
3,3,'008,Albania,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.44,E,NaN,NaN,NaN,NaN,NaN,NaN,0.42,E,NaN,NaN
4,3,'008,Albania,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.71,E,NaN,NaN,NaN,NaN,NaN,NaN,0.61,E,NaN,NaN

In [32]:
coahd_df.describe()

         Area Code    Item Code  Element Code
count  1836.000000  1836.000000   1836.000000
mean   1066.416667  7008.000000   6203.888889
std    2090.524929     2.582692     41.458566
min       1.000000  7004.000000   6121.000000
25%      78.000000  7006.000000   6226.000000
50%     152.000000  7008.000000   6226.000000
75%     233.250000  7010.000000   6226.000000
max    9011.000000  7012.000000   6226.000000

In [33]:
# Get a list of columns
cols = coahd_df.columns
cols

Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'Y2017', 'Y2017F', 'Y2018', 'Y2018F',
       'Y2019', 'Y2019F', 'Y2020', 'Y2020F', 'Y2021', 'Y2021F', 'Y2022',
       'Y2022F'],
      dtype='object')

In [73]:
#Create a new df with desired columns
new_coahd_df =coahd_df[['Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'Y2017',  'Y2018', 
       'Y2019',  'Y2020',  'Y2021',  'Y2022',
       ]]
new_coahd_df.head(12)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,3,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,3.04,3.13,3.32,3.4,3.55,4.19
1,3,Albania,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.6,NaN,NaN,NaN,0.48,NaN
2,3,Albania,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,1.2,NaN,NaN,NaN,1.15,NaN
3,3,Albania,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.44,NaN,NaN,NaN,0.42,NaN
4,3,Albania,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.71,NaN,NaN,NaN,0.61,NaN
5,3,Albania,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.91,NaN,NaN,NaN,0.78,NaN
6,3,Albania,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.09,NaN,NaN,NaN,0.11,NaN
7,3,Albania,7005,Percentage of the population unable to afford ...,6121,Value,%,24.3,17.5,15.3,14.1,12.6,12.2
8,3,Albania,7006,Number of people unable to afford a healthy di...,6132,Value,million No,0.7,0.5,0.4,0.4,0.4,0.3
9,4,Algeria,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,4.06,4.13,4.1,4.06,4.36,4.89
10,4,Algeria,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.5,NaN,NaN,NaN,0.54,NaN
11,4,Algeria,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,0.96,NaN,NaN,NaN,1.33,NaN

In [69]:
# Verifying for columns with NaN
columns_with_nan = new_coahd_df.columns[new_coahd_df.isna().any()].tolist()
columns_with_nan

['Y2017', 'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022']

In [71]:
new_coahd_df.dtypes

Area Code        int64
Area            object
Item Code        int64
Item            object
Element Code     int64
Element         object
Unit            object
Y2017           object
Y2018           object
Y2019           object
Y2020           object
Y2021           object
Y2022           object
dtype: object

In [88]:
new_coahd_df.loc[:, "Y2017"] = new_coahd_df.loc[:, "Y2017"].replace('<0.1', '0.09')

In [90]:
new_coahd_df.loc[ : ,['Y2017', 'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022']] = new_coahd_df.loc[ :,['Y2017', 'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Y2022']].replace('<0.1',  "0.09")

In [91]:
coahd_df_new = new_coahd_df.astype({'Y2017' : float, 
                                    'Y2018' : float, 
                                    'Y2019' : float, 
                                    'Y2020': float, 
                                    'Y2021' : float, 
                                    'Y2022' : float
                                    })

In [93]:
coahd_df_new.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2017           float64
Y2018           float64
Y2019           float64
Y2020           float64
Y2021           float64
Y2022           float64
dtype: object

In [98]:
# Replacing the NaN value with 0 or '' depending on type of columns
coahd_wo_NaN_df = coahd_df_new.fillna( {'Y2017' :0 , 
                                    'Y2018' : 0, 
                                    'Y2019' : 0, 
                                    'Y2020': 0, 
                                    'Y2021' : 0, 
                                    'Y2022' : 0})
coahd_wo_NaN_df.head(30)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,3,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,0.0,3.13,3.32,3.40,3.55,4.19
1,3,Albania,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.48,0.00
2,3,Albania,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,1.15,0.00
3,3,Albania,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.42,0.00
4,3,Albania,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.61,0.00
5,3,Albania,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.78,0.00
6,3,Albania,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.11,0.00
7,3,Albania,7005,Percentage of the population unable to afford ...,6121,Value,%,0.0,17.50,15.30,14.10,12.60,12.20
8,3,Albania,7006,Number of people unable to afford a healthy di...,6132,Value,million No,0.0,0.50,0.40,0.40,0.40,0.30
9,4,Algeria,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,0.0,4.13,4.10,4.06,4.36,4.89
10,4,Algeria,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.54,0.00
11,4,Algeria,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,1.33,0.00
12,4,Algeria,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.57,0.00
13,4,Algeria,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.70,0.00
14,4,Algeria,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,1.07,0.00
15,4,Algeria,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.15,0.00
16,4,Algeria,7005,Percentage of the population unable to afford ...,6121,Value,%,0.0,17.00,16.40,18.30,18.70,19.70
17,4,Algeria,7006,Number of people unable to afford a healthy di...,6132,Value,million No,0.0,7.10,7.00,7.90,8.30,8.80
18,7,Angola,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,0.0,3.41,3.46,3.65,4.00,4.41
19,7,Angola,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,1.12,0.00
20,7,Angola,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,1.12,0.00
21,7,Angola,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.41,0.00
22,7,Angola,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.43,0.00
23,7,Angola,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.73,0.00
24,7,Angola,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.20,0.00
25,7,Angola,7005,Percentage of the population unable to afford ...,6121,Value,%,0.0,65.10,66.80,70.10,71.70,72.20
26,7,Angola,7006,Number of people unable to afford a healthy di...,6132,Value,million No,0.0,20.40,21.60,23.40,24.70,25.70
27,8,Antigua and Barbuda,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,0.0,4.11,4.20,4.31,4.48,4.97
28,8,Antigua and Barbuda,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.61,0.00
29,8,Antigua and Barbuda,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.00,0.73,0.00

In [97]:
# Verifying for columns with NaN
columns_with_nan = coahd_wo_NaN_df.columns[coahd_wo_NaN_df.isna().any()].tolist()
columns_with_nan

[]

In [99]:
coahd_cleaned_df = coahd_wo_NaN_df
coahd_cleaned_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,3,Albania,7004,Cost of a healthy diet (PPP dollar per person ...,6226,Value,PPP dollar per person per day,0.0,3.13,3.32,3.4,3.55,4.19
1,3,Albania,7007,Cost of starchy staples,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,0.48,0.00
2,3,Albania,7008,Cost of animal source foods,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,1.15,0.00
3,3,Albania,7009,"Cost of legumes, nuts and seeds",6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,0.42,0.00
4,3,Albania,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,0.61,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,9011,Upper-middle-income economies,7010,Cost of vegetables,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,0.85,0.00
1832,9011,Upper-middle-income economies,7011,Cost of fruits,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,0.70,0.00
1833,9011,Upper-middle-income economies,7012,Cost of oils and fats,6226,Value,PPP dollar per person per day,0.0,0.00,0.00,0.0,0.17,0.00
1834,9011,Upper-middle-income economies,7005,Percentage of the population unable to afford ...,6121,Value,%,0.0,25.70,24.20,24.8,22.20,21.50
1835,9011,Upper-middle-income economies,7006,Number of people unable to afford a healthy di...,6132,Value,million No,0.0,707.70,668.90,690.5,620.10,601.20

In [101]:
coahd_cleaned_df['Area'].unique()

array(['Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize',
       'Benin', 'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China, Hong Kong SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Curaçao', 'Cyprus', 'Czechia',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands (Kingdom of the)', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Tajikistan', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turks and Caicos Islands', 'Uganda', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Viet Nam', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Northern Africa (excluding Sudan)', 'Southern Africa',
       'Western Africa', 'Sub-Saharan Africa', 'Northern America',
       'Central America', 'Latin America and the Caribbean', 'Caribbean',
       'South America', 'Northern America and Europe', 'Asia',
       'Central Asia', 'Eastern Asia', 'Southern Asia',
       'Southern Asia (excluding India)', 'South-eastern Asia',
       'Western Asia', 'Europe', 'Eastern Europe', 'Northern Europe',
       'Southern Europe', 'Western Europe', 'Oceania',
       'Australia and New Zealand', 'Least Developed Countries',
       'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries', 'Low income economies',
       'Lower-middle-income economies', 'High-income economies',
       'Upper-middle-income economies'], dtype=object)

# Cleaning for Obesity data

In [35]:
# Show the rows and colomns of each dataframes
obesity_df # Obesity_Unhealthy diet

,ï»¿Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Numeric,Lower Confidence Limit,Upper Confidence Limit,Comment
0,"Overweight, adults aged 18+",NaN,2022,NaN,Global,Total,NaN,43.494305,42.871901,44.140121,NaN
1,"Overweight, adults aged 18+",NaN,2022,NaN,Global,Males,NaN,43.058437,42.092445,44.033659,NaN
2,"Overweight, adults aged 18+",NaN,2022,NaN,Global,Females,NaN,43.868381,43.06533,44.706288,NaN
3,"Overweight, adults aged 18+",NaN,2022,Afghanistan,Eastern Mediterranean Region,Total,NaN,48.573643,44.941038,52.150345,NaN
4,"Overweight, adults aged 18+",NaN,2022,Afghanistan,Eastern Mediterranean Region,Males,NaN,44.066808,38.980424,49.147475,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4342,"Mean population salt intake, adults aged 25+",NaN,2019,Zambia,African Region,Males,NaN,6.308032045,5.77043036,6.900037545,NaN
4343,"Mean population salt intake, adults aged 25+",NaN,2019,Zambia,African Region,Females,NaN,7.617803635,7.047883248,8.186686645,NaN
4344,"Mean population salt intake, adults aged 25+",NaN,2019,Zimbabwe,African Region,Total,NaN,8.302790699,7.827742013,8.804189177,NaN
4345,"Mean population salt intake, adults aged 25+",NaN,2019,Zimbabwe,African Region,Males,NaN,8.439144416,7.724159221,9.228902896,NaN
4346,"Mean population salt intake, adults aged 25+",NaN,2019,Zimbabwe,African Region,Females,NaN,8.187745983,7.573530447,8.786872432,NaN

In [36]:
col = obesity_df.columns
col

Index(['ï»¿Indicator Name', 'Cancer Type', 'Year', 'Country Name', 'Region',
       'Gender', 'Area', 'Numeric', 'Lower Confidence Limit',
       'Upper Confidence Limit', 'Comment'],
      dtype='object')

In [37]:
new_obesity_df = obesity_df[['ï»¿Indicator Name', 'Year', 'Country Name', 'Region',
       'Gender', 'Numeric', 'Lower Confidence Limit',
       'Upper Confidence Limit']]
new_obesity_df

,ï»¿Indicator Name,Year,Country Name,Region,Gender,Numeric,Lower Confidence Limit,Upper Confidence Limit
0,"Overweight, adults aged 18+",2022,NaN,Global,Total,43.494305,42.871901,44.140121
1,"Overweight, adults aged 18+",2022,NaN,Global,Males,43.058437,42.092445,44.033659
2,"Overweight, adults aged 18+",2022,NaN,Global,Females,43.868381,43.06533,44.706288
3,"Overweight, adults aged 18+",2022,Afghanistan,Eastern Mediterranean Region,Total,48.573643,44.941038,52.150345
4,"Overweight, adults aged 18+",2022,Afghanistan,Eastern Mediterranean Region,Males,44.066808,38.980424,49.147475
...,...,...,...,...,...,...,...,...
4342,"Mean population salt intake, adults aged 25+",2019,Zambia,African Region,Males,6.308032045,5.77043036,6.900037545
4343,"Mean population salt intake, adults aged 25+",2019,Zambia,African Region,Females,7.617803635,7.047883248,8.186686645
4344,"Mean population salt intake, adults aged 25+",2019,Zimbabwe,African Region,Total,8.302790699,7.827742013,8.804189177
4345,"Mean population salt intake, adults aged 25+",2019,Zimbabwe,African Region,Males,8.439144416,7.724159221,9.228902896
4346,"Mean population salt intake, adults aged 25+",2019,Zimbabwe,African Region,Females,8.187745983,7.573530447,8.786872432

In [38]:
# Export file as a CSV, without the Pandas index, but with the header
#file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)